body {
    background: #3b3a3a;
}

.header {
    text-align: center;
    color: #ffffff;
}

main {
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #68D1F7, #6876F7);
    color: #ffffff;
    margin: 5px;
    border-radius: 20px ;
}

main a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

.proyect {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.5s ease;
}

.proyect:hover {
    transform: translateY(-5px) ;
    background: #ffffff;
    color: #0096FA;
}
